[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = praveens1987
	email = 45449866+praveens1987@users.noreply.github.com
